@use '../util/' as *;
@forward 'header';
@forward 'nav';
@forward 'attribution';
@forward 'about';
@forward 'services';
@forward 'testimonials';
@forward 'contact';

.hero{
  position: relative;
  transform: translateY(-50%);
  // &__picture{}
  // &__img{}
  &__content{
    position: absolute;
    top: 0;
    transform: translateY(50%);
    width: 100%;
    &--h1{
      // border: 1px solid red;
      text-align: center;
      font-family: var(--font-family-2);
      color: var(--White);
      font-size: 4.5rem;
      line-height: 4.5rem;
      letter-spacing: .5rem;
      margin-bottom: 3rem;
    }
    
    &--arrow{
      width: 3rem;
      margin: 0 auto;
    }
  }
}

.projects{
  @include flexbox(row, wrap, center, center,0);

  &__item{
    flex: 1 1 100%;
    @include breakpoint(medium){
      flex: 1 1 50%;
    }
    @include breakpoint(large){
      flex: 1 1 25%;
    }
  }
}


.hidden{
  opacity: 0;
  filter: blur(.5rem);
  transition: .5s ease-in-out;
}

@media(preferences-reduced-motion){
  .hidden{
    transition: none;
  }
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}


