@use '../util/' as *;

.about{
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint(medium){
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: "text1 img1"
                         "img2 text2";
  }

  &__picture{
    
    @include breakpoint(medium){
      &--1{
        grid-area: img1;
        transform: translateX(100%);
      }
      &--2{
        transform: translateX(-100%);
        grid-area: img2;
      }
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__post{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem; 
    padding: 4rem 2rem;
    
    @include breakpoint(large){
      padding: 8rem;

      &--1{
        grid-area: text1;
      }
      &--2{
        grid-area: text2;
      }
    }
  }
  &__h2{
    font-family: var(--font-family-2);
    font-size: 2rem;
    line-height: 2rem;
    transition: .5s ease-in-out;
    @include breakpoint(large){
      font-size: 2.6rem;
      line-height: 2.6rem;
    }
  }
  &__text{
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--Very-dark-grayish-blue);
    transition: .5s ease-in-out;
    @include breakpoint(large){
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
  &__btn{
    cursor: pointer;
    font-weight: 700;
    transition: .5s ease-in-out;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: .375rem;
      background-color: var(--Yellow-transparent);
      bottom: -.30rem;
      border-radius: 2rem;
      left: 0;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover::after{
      background-color: var(--Yellow);
      bottom: -.18rem;
    }
    
    @include breakpoint(large){
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    
    &--2{
      &::after{
        background-color: var(--Soft-red-transparent);
      }
      &:hover::after{
        background-color: var(--Soft-red);
      }
      
    }
  }
}