@use '../util/' as *;

.testimonials{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  gap: 2rem;
  padding: 4rem 0;

  &__heading{
    font-size: 1.5rem;
    font-family: var(--font-family-2);
    color: var(--Dark-grayish-blue);
  }
  &__container{
    @include flexbox(row, wrap, center, center,0);
  }
}

.card{
  max-width: 30rem;
  width: 100%;
  text-align: center;
  @include flexbox(column, nowrap, center, center,2rem);
  padding: 3rem 5rem;
  color: var(---Very-dark-grayish-blue);
  transform: translate(-50%, -50%);

  &:nth-child(2){
    transition-delay: 300ms;
  }
  &:nth-child(3){
    transition-delay: 600ms;
  }

  &__img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  &__user{
    @include flexbox(column, nowrap, center, center,.5rem);

    &--name{
      font-weight: 700;
      color: var(--Very-dark-desaturated-blue);
    }
    &--work{
      font-size: .9rem;
      color: var(--Grayish-blue);
    }
  }

}